<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hank's</title>
</head>
<body>
    <div class="grid-container">
        <header class="row">
            <div>
                <a class="brand" href="index.html">Hank's</a>
            </div>
            <div>
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>
        <main>
            <div class="row center">
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by 830px -->
                        <img src="./images/product-1.jpeg" alt="product" />
                    </a>
                </div>
            </div>
        </main>
        <footer class="row center">
            All Rights Reserved
        </footer>
    </div>
    
</body>
</html>